<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="app01" version="3.0">

    <display-name>Java/REST REST Server</display-name>
    <description>Java/REST Server Tutorial</description>

    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>io.github.cavweb20.servlets.HelloWorld</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>io.github.cavweb20.rest.RESTApplication</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>
                io.github.cavweb20.rest.mappers.BadRequest,
                io.github.cavweb20.rest.mappers.IOExceptionMapper,
                io.github.cavweb20.rest.mappers.JsonParse,
                io.github.cavweb20.rest.mappers.JsonProcessing,
                io.github.cavweb20.rest.mappers.NotAcceptable,
                io.github.cavweb20.rest.mappers.NotAllowed,
                io.github.cavweb20.rest.mappers.NotFound,
                io.github.cavweb20.rest.filters.ServerName
            </param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/service</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
